@charset "UTF-8";
* {
  margin: 0;
}


.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinForm {
	margin-top:190px;
	margin-bottom:50px;
  width: 500px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: black;
  font-size: 40px;
}


.content {
  margin-top: 5px;
  width: 80%;
}


.content#btnContent{
	text-align:center;
}


.content input {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  margin-top: 5px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

#sendEmail {
	width:111%;
}

#sendKey {
	width: 111%;
}
select#gender, select#kind{
	width:111%;
	height:35px;
	margin-top:10px;
	text-align:center;
	border-radius:30px;
}

input#zipCode{
	width:40%;
}
input#findAddr{
	width:30%;
	height:40px;
}
input#detailAddress{
	width:55%;
}
input#subAddress{
	width:22%;
}
#idMsg{
	margin-top: 10px;
    font-size: 15px;
    font-weight:bold;
}
#passMsg{
	margin-top: 10px;
    font-size: 15px;
    font-weight:bold;;
}

#checkPassMsg{
	margin-top: 10px;
    font-size: 15px;
    font-weight:bold;
}


#nameMsg{
	margin-top: 10px;
    font-size: 15px;
    font-weight:bold;
}

#emailMsg{
	margin-top: 10px;
    font-size: 15px;
    font-weight:bold;
}
#birthdayMsg{
	margin-top: 10px;
    font-size: 15px;
    font-weight:bold;
}

#addressMsg{
	margin-top: 10px;
    font-size: 15px;
    font-weight:bold;
}

.signupBtn, .cancelBtn {
  background:black;
  color: white;
  font-size: 20px;
  font-weight:bold;
  letter-spacing: 5px;
}
input.signupBtn{
	width:auto;
}
input.cancelBtn{
	width:auto;
}